/*@import './reset.css';*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "../output.css";
@font-face {
    font-family: "Source Sans Pro";
    src: url('./fonts/source-sans-pro/SourceSansPro-Regular.otf') format('truetype');
    font-weight: 400;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-roboto {
    font-family: "Roboto", sans-serif;
}

.font-source-sans-pro {
    font-family: "Source Sans Pro", sans-serif;
}

.font-montserrat {
    font-family: "Montserrat", sans-serif;
}

.font-open-sans {
    font-family: "Open Sans", sans-serif;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.scrolbar-hide::-webkit-scrollbar {
    display: none;
}